tr{
    background-color: aqua;
    border :10px;
}
table{
    border: 2px;
    border-color: azure;
    background-color: burlywood;
    padding: 3px;
}
.boton1{
    margin: 4px;
}
.botonnew{
    background-color: chartreuse;
}